body {
  font-family: 'Anton', sans-serif;
}
p,li {
  font-family:Roboto;
}
.cont {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outline {
  color: white;
  text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;  
}
.subtitle {
  text-align:center;
}